.resume {
  display: flex;
  background-color: $color_g1;
  margin: 10px;
  padding: 10px 20px 10px 16px;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;

  .left {
    gap: 10px;
    align-items: center;
    display: flex;
    width: 100%;
  }
  .ico {
    font-size: 30px;
    margin-bottom: 5px;
    color: $color_p1;
  }

  .det {
    width: 100%;
    p {
      font-size: 15px;
      color: $color_g3;
      font-weight: bold;
    }

    span {
      font-size: 14px;
      color: $color_g2;
    }
  }

  .dot {
    width: 100%;
    width: fit-content;
    svg {
      cursor: pointer;
      width: fit-content;
      margin: 0 0 0 auto;
      display: block;
    }
  }

  &.new {
    background-color: white;
    cursor: pointer;
    border: 2px dashed $color_g2;

    svg {
      opacity: 0.7;
    }

    &:hover {
      border-color: $color_g3;
      svg {
        opacity: 1;
      }
      // background-color: $color_g1;
    }
  }
}
