.UpdateProfileAlert {
  @include defaultBox;
  background-color: rgb(211, 65, 65);
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    gap: 20px;
    align-items: center;

    h5 {
      font-size: 17px;
      margin-bottom: 2px;
    }

    p {
      font-size: 14px;
      opacity: 0.8;
    }
  }

  .userImg {
    height: 70px;
    border-radius: 50%;
  }

  .right {
    height: 100%;
    @include flexCenter;
  }

  @include respond-below(md) {
    flex-direction: column;

    .left {
      flex-direction: column;
      text-align: center;
      margin-bottom: 20px;
      gap: 8px;
    }
  }
}
