.MainFrame {
  padding: 12px 20px;
  width: 100%;
  max-height: calc(100dvh - 120px);
  overflow-y: auto;
}

.head {
  h3 {
    font-size: 25px;
  }
  p {
    color: $color_g3;
    font-size: 15px;
  }

  // margin: 0 20px 20px 20px;
  margin-bottom: 20px;
}
